@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --primary: rgb(252, 82, 0);
  --black: black;
}
.btn {
  font-family: "Iceberg", cursive;
  font-weight: 400;
  border-radius: 1px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

btn:hover {
  transform: translateY(-3px);
}
/* button colors and styles below*/
.btn--primary--solid {
  background-color: var(--primary);
  color: var(--black);
  border: none;
}
/* button sizes */

.btn--medium {
  margin: 1rem;
  padding: 10px 20px;
  font-size: 18px;
  font: bold;
  background-color: white;
  border: 2px solid rgb(252, 82, 0);
  padding: 0.6rem;
  border-radius: 6px;
  transition-duration: 0.5s;
  animation: ease-in-out;
}

.btn--medium:hover {
  background-image: linear-gradient(to left, rgba(252, 170, 0, 1), #fc5200);
  transform: scale(1.2);
  border: none;
  color: white;
}

.btn--large {
  margin: 1rem;
  padding: 15px 30px;
  font-size: 20px;
  font: bold;
  background-color: white;
  border: 2px solid rgb(252, 82, 0);
  padding: 0.6rem;
  border-radius: 6px;
  transition-duration: 0.5s;
  animation: ease-in-out;
}

.btn--large:hover {
  background-image: linear-gradient(to left, rgba(252, 170, 0, 1), #fc5200);
  transform: scale(1.2);
  border: none;
  color: white;
}
/* .btn--large {
  padding: 15px 30px;
  font-size: 20px;
} */
