.panel {
    margin-top: 10px;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-default>.panel-heading {
    color:rgb(252, 82, 0) ;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.btn-primary {
    background:rgb(252, 82, 0) ;
    border-color:rgb(252, 82, 0);
}
.btn-primary {
    background-color: #CCC;
    border-color: #CCC #CCC #b3b3b3;
    color: #FFF;
}
.btn {
    font-size: 14.4px;
    font-size: 0.9rem;
    padding: 7.52px 12px;
    padding: 0.47rem 0.75rem;
    cursor: pointer;
}

.panel-body {
    padding: 15px;
}
.btn-primary {
    color: #fff;
    background-color:rgb(252, 82, 0) !important;
    border-color:black;
    transform: translateY(-3px)
}

.search-results {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.search-results {
    min-height: 300px;
}
.section-grey {
    color: #494949;
    font-size: 14px;
    background-color: #fafafa;
    min-height: 402px;
    border-top: 1px #f4f4f4 solid;
    padding: 40px 0;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body a {
    outline: none !important;
}
a {
    color:rgb(252, 82, 0);
}
a, a:hover, a:focus {
    color: #CCC;
}
a {
    color: rgb(252, 82, 0);
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
