@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.logodiv > img {
  width: 80px;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}
body {
  color: F2F1F1;
}
.bannerText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 50px;
}

.navBar {
  display: flex;
  overflow: hidden;
}

.links {
  text-decoration: none;
}

#auth {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-top: 10px;
}
nav {
  position: relative;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;

  text-align: center;
}
.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 10vh;
  margin-left: 1rem;
  font-size: larger;
  background-color: black;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.pf {
  color: white;
}
.af {
  color: rgb(252, 82, 0);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  font-family: "Iceberg", cursive;
  padding: 1rem 2rem;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
}
.profilesContainer {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
.prfl {
  height: 600px !important;
}
.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.font-style {
  font-family: "Roboto", sans-serif;
}

.editProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio-edit > textarea {
  width: 90%;
  border-radius: 5px;
}

.zip-gender {
  display: flex;
  justify-content: space-around;
}

.my-sports {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.level {
  text-align: center;
}

.my-sp {
  text-align: center;
}

.my-prof-btn {
  text-align: center;
}

form#search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  border: 2px solid rgb(143 142 142);
  background-color: white;
  margin-bottom: 5rem;
  margin: 10rem;
}

.callToAction {
  display: flex;
  border: 1px solid slategrey;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  margin-left: 240px;
  margin-right: 240px;
  margin-bottom: 3rem;
  background-color: white;
}
.profilehr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.detail-container {
  background-color: white;
  width: 250px;
  border: 2px solid grey;
  margin-bottom: 20px;
  text-align: center;
}
.search-form {
  display: flex;
  background-color: linear-gradient(to left, rgba(252, 170, 0, 1), #fc5200);
}
label {
  display: flex;
  margin: 5px;
}
small {
  display: flex;
  margin: 5px;
}
.player {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  border: 1px solid black;
  border-radius: 10%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bbbbbb;
  word-break: break-all;
}
.player-card {
  border: 0.5px solid rgb(97, 97, 97);
  border-radius: 2px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bbbbbb;
  word-break: break-all;
  margin: 30px;
  height: 500px;
  width: 250px;
}
.card {
  margin: 3rem;
  width: 300px;
  height: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px black;
  overflow: hidden;
}
.upper-container {
  height: 100px;
  background: linear-gradient(to left, rgba(252, 170, 0, 1), #fc5200);
}
.image-container .profilePic {
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(95px, 45px);
}
.profilePic {
  border: 2px solid #fc5200;
}
.lower-container h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}
.lower-container h3 {
  color: rgb(79, 55, 34);
  font-size: 1.5rem;
  font-weight: 600;
}
.lower-container h4 {
  margin: 0.9rem;
  color: rgb(79, 55, 34);
  font-size: 1.2rem;
  font-weight: 800;
  text-align: justify;
}
.lower-container p {
  color: rgb(109, 109, 109);
  font-size: 1.2rem;
  font-weight: 800;
}
.player-card > img {
  width: 100px;
  border-radius: 50%;
}

.profile-card > img {
  width: 100px;
  border-radius: 50%;
}

.optionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  /* font-family: fantasy; */
  color: black;
  align-content: center;
}

.faq-title {
  font-family: "Montserrat", sans-serif;
  color: #fc5200;
  text-align: center;
  font-size: 2.5rem;
}

.questions {
  width: 40vw;
  margin: 1rem;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Iceberg", cursive;
  background: rgb(170, 170, 170);
  background: linear-gradient(
    90deg,
    rgba(204, 204, 204, 1) 0%,
    rgba(252, 170, 0, 1) 50%,
    rgba(252, 82, 0, 1) 100%
  );
}

.queans {
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions > p {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}

.quest {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.havent {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.logodiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.iceberg {
  font-family: "Iceberg", cursive;
}

.logodiv > h1 {
  color: rgb(252, 82, 0);
  font-family: "Iceberg", cursive;
  white-space: nowrap;
  font-size: 2rem;
}
footer > img {
  width: 100px;
  height: 100px;
}
.mainImg {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 60vh;
  margin-bottom: 0px;
}

.profilepic {
  border-radius: 50%;
}
.iphoneMock {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 70vh;
  width: 70vw;
  margin-top: 20px;
}
.mockContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: 500px;
}

.car {
  font-family: sans-serif;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 70vw;
}
.car-container {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img11 {
  object-fit: contain;
  height: 50vh;
  width: 50vw;
  border: 2px solid rgb(89, 87, 87);
  border-radius: 5px;
  margin: 5px;
  top: 0px;
}
.car-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 240px;
  margin-right: 240px;
  margin-bottom: 3rem;

  background-color: rgb(242, 241, 241);
}

.img22 {
  object-fit: cover;
  height: 50vh;
  width: 45vw;
  border: 2px solid rgb(89, 87, 87);
  border-radius: 5px;
  margin: 5px;
}
.img33 {
  object-fit: cover;
  height: 50vh;
  width: 50vw;
  border: 2px solid rgb(89, 87, 87);
  border-radius: 5px;
  margin: 5px;
}
.img44 {
  object-fit: cover;
  height: 50vh;
  width: 50vw;
  border: 2px solid rgb(89, 87, 87);
  border-radius: 5px;
  margin: 5px;
}
.img {
  object-fit: cover;
  height: 50vh;
  width: 50vw;
  border: 2px solid rgb(89, 87, 87);
  border-radius: 5px;
  margin: 5px;
}
.ctai {
  width: 10vw;
  margin-right: 1vw;
  margin-left: 1vw;
}
.ctai2 {
  width: 10vw;
  margin-right: 1vw;
  margin-left: 1vw;
}
.hhr {
  border: 0.5px solid #fc5200;
  color: #fc5200;
  width: 99%;
}
.logoo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-left: 14vw;
  margin-right: 14vw;
  height: 15vh;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.Nike-logo {
  height: 15vh;
}
